body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-y: auto; /*allows vertical scrolling*/
}

header {
    background-color: #9e1b32; /*#333;*/
    color: #fff;
    padding: 0.8rem 0;
    position: sticky;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
    padding-bottom: 4rem;
}

footer {
    background-color: #9e1b32; /*#333;*/
    color: #fff;
    text-align: center;
    padding: 0.2rem 0;
    /*position: fixed;
    width: 100%;
    bottom: 0;*/
}

.team-member {
    margin-bottom: 3rem;
}

.team-member img {
    max-width: 100%;
    object-fit: contain;
    width: 150px;
    height: 150px;
    border-radius: 0; 
    display: inline-block;
}